<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="user-info">
                <ul class="list-group">
                    <li class="list-group-item">
                        Usuario: <strong id="usuario"></strong>
                    </li>
                    <li class="list-group-item">
                        Nombre completo: <strong id="full-name"></strong>
                    </li>
                    <li class="list-group-item">
                        dni: <strong id="dni"></strong>
                    </li>
                    <li class="list-group-item">
                        rol: <strong id="rol"></strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-5" id="reservas-list"></div>
</div>
