<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="user-info">
                <ul class="list-group">
                    <li class="list-group-item">
                        Usuario: <strong id="usuario"></strong>
                    </li>
                    <li class="list-group-item">
                        Nombre completo: <strong id="full-name"></strong>
                    </li>
                    <li class="list-group-item">
                        Dni: <strong id="dni"></strong>
                    </li>
                    <li class="list-group-item">
                        Rol: <strong id="rol"></strong>
                    </li>
                    <li class="list-group-item">
                        Patente del vehiculo: <strong id="patente"></strong>
                    </li>
                    <li class="list-group-item">
                        Marca del vehiculo: <strong id="marca"></strong>
                    </li>
                    <li class="list-group-item">
                        Modelo del vehiculo: <strong id="modelo"></strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-5" id="reservas-list"></div>

    <button
        class="btn btn-primary text-white mis-reservas"
        onclick="window.location.hash = '/parking'"
    >
        Ver lugares
    </button>
</div>
